<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>


<div class="order-summary jumbotron">
  <h4> We have <%= @categories_count %> number of categories <h4>

<h4> We have <%= @product_count %> number of products <h4>

  </div>
